@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:20px">
    <h1>Class Manager</h1>
    <p class="lead">- an application to manage student, courses and class works</p>
</div>
